{% extends "generalpage.html" %}
{% block content %}
<div class="header">
  <h5>Private Motivations</h5>
</div>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h6>{{art1.article_name}}</h6>
    <p>{{art1.content}}</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h6>{{art2.article_name}}</h6>
    <p>{{art2.content}}</p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h6>{{art3.article_name}}</h6>
    <p>{{art3.content}}</p>
  </div>
</div>


{% endblock %}
